**Python3操作mysql数据库，实现增、批量增、删、改、查**

https://www.ctolib.com/TracyMcgrady6-pymsql_Operation.html

https://www.tutorialspoint.com/python3/python_database_access.htm

python操作mysql数据库需要导入pymysql（linux）/PyMySQL（windows），在这使用Linux

pymysql模块使用流程
    1. 建立数据库连接对象（db=pymysql.connect(主机名, 用户名, 密码)）
    2. 创建游标对象cur（操作数据库的对象）
    3. 游标对象：cur.execute(sql命令)
    4. 提交到数据执行：db.commit()
    5. 关闭游标对象：cur.close()
    6. 关闭数据库连接对象:db.close()

connect连接对象
    db = pymysql.connect(参数列表)

参数列表：

    host：主机地址
    user：用户名
    password：密码
    database：库
    charset：编码方式，推荐utf8
    port：端口号 3306
    db（数据库连接对象）的方法

    db.close()：断开连接
    db.commit()：提交到数据库执行
    db.cursor()：创建游标对象，用来执行sql命令
    db.rollback()：回滚
    cursor游标对象的方法

    execute(sql命令)：执行sql命令
    close()：关闭游标对象
    fetchone()：获取查询结果的第 1 条数据
    fetchall()：获取所有的数据
    fetchmany(n)：获取自定义条数的数据

    pip install PyMySQL

#### 数据库连接

    您已经创建了数据库 mydatabase.
    在TESTDB数据库中您已经创建了表 EMPLOYEE20190701
    EMPLOYEE表字段为 FIRST_NAME, LAST_NAME, AGE, SEX 和 INCOME。
    连接数据库TESTDB使用的用户名为 "root" ，密码为 "123456"。当然可以自己更改

In [12]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

# 使用 execute()  方法执行 SQL 查询
cursor.execute("SELECT VERSION()")

# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()

print("Database version : %s " % data)

# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

Database version : 5.6.30

#### 创建数据库表

In [14]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE20190701")

# 使用预处理语句创建表
# "CREATE TABLE EMPLOYEE20190701" EMPLOYEE20190701为新创建的表名，以下项目配置表头
sql = """CREATE TABLE EMPLOYEE20190701 (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

#### 数据库插入

In [17]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# SQL两种插入格式
sql_1 = "INSERT INTO EMPLOYEE20190701(FIRST_NAME,LAST_NAME, AGE, SEX, INCOME) VALUES ('Mac', 'Mohan', 20, 'M', 2000)"

try:
    # 执行sql语句
    cursor.execute(sql_1)
    # 提交到数据库执行
    db.commit()
except:
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

#### 批量插入多条数据

批量操作executemany，可以进行多行插入 先写sql语句。要注意的是里面的参数，不管什么类型，统一使用%s作为占位符 例如，向user表(username,salt,pwd)插入数据

    sql = 'INSERT INTO 表名 VALUES(%s,%s,%s)'

对应的param是一个tuple或者list

    param = ((username1, salt1, pwd1), (username2, salt2, pwd2), (username3, salt3, pwd3))

这样就包含了三条数据，通过executemany插入

    n=cursor.executemany(sql, param)

In [18]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# SQL 插入语句
sql = "INSERT INTO EMPLOYEE20190701(FIRST_NAME, AGE, SEX) VALUES (%s,%s,%s)"
# 一个tuple或者list
T = (('xiaoming', 31, 'boy'), ('hong', 22, 'girl'), ('wang', 90, 'man'))

try:
    # 执行sql语句
    cursor.executemany(sql, T)
    # 提交到数据库执行
    db.commit()
except :
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

d:\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'SEX' at row 1")
  result = self._query(query)
d:\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'SEX' at row 2")
  result = self._query(query)
d:\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'SEX' at row 3")
  result = self._query(query)

#### 数据库修改更新

In [20]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# SQL 更新语句
sql = "UPDATE EMPLOYEE20190701 SET AGE = AGE + 1 WHERE SEX = '%c'" % 'M'
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交到数据库执行
    db.commit()
except:
    # 发生错误时回滚
    db.rollback()

# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

#### 数据库查找

In [23]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# SQL 查询语句
sql1 = "SELECT * FROM EMPLOYEE20190701 WHERE FIRST_NAME = 'xiaoming'"
# SQL 查询语句
sql2 = "SELECT * FROM EMPLOYEE20190701 WHERE INCOME > '%d'" % 1000

try:
    # 执行SQL语句
    cursor.execute(sql1)
    # results是个元组对象
    results = cursor.fetchone()
    # 先判断是否为空
    if results is None:
        print("查询为空")
    else:
        print(results)

    # 执行SQL语句
    cursor.execute(sql2)
    # 获取所有记录列表
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
        # 打印结果
        print("fname=%s,lname=%s,age=%d,sex=%s,income=%d" % (fname, lname, age, sex, income))
except:
    print("Error: unable to fetch data")

# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

('xiaoming', None, 31, 'b', None)
fname=Mac,lname=Mohan,age=21,sex=M,income=2000

#### 数据删除

In [24]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# SQL 删除语句
sql = "DELETE FROM EMPLOYEE20190701 WHERE AGE > '%d'" % 60
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 提交修改
    db.commit()
except:
    # 发生错误时回滚
    db.rollback()

# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()