Python+MySQL数据库操作（PyMySQL

https://www.yiibai.com/python/python_database_access.html

Python3操作mysql数据库，实现增、批量增、删、改、查

https://www.ctolib.com/TracyMcgrady6-pymsql_Operation.html

    pip install PyMySQL

**芝麻教程 Python3 MySQL**

http://www.web3.xin/code/544.html

#### 数据库连接

连接数据库前，请先确认以下事项：

    您已经创建了数据库 mydatabase.
    mydatabase EMPLOYEE
    EMPLOYEE表字段为 FIRST_NAME, LAST_NAME, AGE, SEX 和 INCOME。
    连接数据库mydatabase使用的用户名为 "root" ，密码为 "123456",你可以可以自己设定或者直接使用root用户名及其密码，Mysql数据库用户授权请使用Grant命令。
    在你的机子上已经安装了 Python MySQLdb 模块。
    如果您对sql语句不熟悉，可以访问我们的 SQL基础教程

In [1]:
import pymysql

# 打开数据库连接
db = pymysql.connect("localhost", "root", "123456", "mydatabase" )

# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")

# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()

print ("Database version : %s " % data)

# 关闭数据库连接
db.close()

Database version : 5.6.30

#### 创建数据库表

如果数据库连接存在我们可以使用execute()方法来为数据库创建表，如下所示创建表EMPLOYEE2019070102：

In [3]:
import pymysql

# 打开数据库连接
db = pymysql.connect("localhost", "root", "123456", "mydatabase" )

# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()

# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE2019070102")

# 使用预处理语句创建表
sql = """CREATE TABLE EMPLOYEE2019070102 (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

# 关闭数据库连接
db.close()

#### 数据库插入操作

以下实例使用执行 SQL INSERT 语句向表 EMPLOYEE2019070102 插入记录

In [4]:
import pymysql

# 打开数据库连接
db = pymysql.connect("localhost", "root", "123456", "mydatabase" )

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

# SQL 插入语句
sql = """INSERT INTO EMPLOYEE2019070102(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # 执行sql语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 如果发生错误则回滚
   db.rollback()

# 关闭数据库连接
db.close()

以上例子也可以写成如下形式

In [5]:
import pymysql

# 打开数据库连接
db = pymysql.connect("localhost", "root", "123456", "mydatabase" )

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

# SQL 插入语句
sql = "INSERT INTO EMPLOYEE2019070102(FIRST_NAME, \
       LAST_NAME, AGE, SEX, INCOME) \
       VALUES ('%s', '%s', '%d', '%c', '%d' )" % \
       ('Mac2', 'Mohan2', 20, 'M', 2000)
try:
   # 执行sql语句
   cursor.execute(sql)
   # 执行sql语句
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()

# 关闭数据库连接
db.close()

以下代码使用变量向SQL语句中传递参数:
    
    ..................................
    user_id = "test123"
    password = "password"

    con.execute('insert into Login values("%s", "%s")' % \
                 (user_id, password))
    ..................................

#### 插入多条数据
    
    批量操作executemany，可以进行多行插入 先写sql语句。要注意的是里面的参数，不管什么类型，统一使用%s作为占位符 例如，向user表(username,salt,pwd)插入数据

        sql = 'INSERT INTO 表名 VALUES(%s,%s,%s)'

    对应的param是一个tuple或者list

        param = ((username1, salt1, pwd1), (username2, salt2, pwd2), (username3, salt3, pwd3))

    这样就包含了三条数据，通过executemany插入

        n=cursor.executemany(sql, param)

In [6]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# SQL 插入语句
sql = "INSERT INTO EMPLOYEE2019070102(FIRST_NAME, AGE, SEX, INCOME) VALUES (%s,%s,%s,%s)"
# 一个tuple或者list
T = (('xiaoming', 31, 'boy', 2500), ('hong', 22, 'girl', 1900), ('wang', 90, 'man', 1700))

try:
    # 执行sql语句
    cursor.executemany(sql, T)
    # 提交到数据库执行
    db.commit()
except :
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

d:\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'SEX' at row 1")
  result = self._query(query)
d:\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'SEX' at row 2")
  result = self._query(query)
d:\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'SEX' at row 3")
  result = self._query(query)

#### 数据库查询操作

Python查询Mysql使用 fetchone() 方法获取单条数据, 使用fetchall() 方法获取多条数据。

    fetchone(): 该方法获取下一个查询结果集。结果集是一个对象
    fetchall(): 接收全部的返回结果行.
    rowcount: 这是一个只读属性，并返回执行execute()方法后影响的行数。

查询EMPLOYEE2019070102表中INCOME（收入）字段大于2000的所有数据

In [7]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# SQL 查询语句
sql = "SELECT * FROM EMPLOYEE2019070102 \
       WHERE INCOME > '%d'" % (2000)
try:
    # 执行SQL语句
    cursor.execute(sql)
    # 获取所有记录列表
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
        # 打印结果
        print ("fname=%s,lname=%s,age=%d,sex=%s,income=%d" % \
               (fname, lname, age, sex, income ))
except:
    print("Error: unable to fecth data")

# 关闭数据库连接
db.close()

fname=xiaoming,lname=None,age=31,sex=b,income=2500

#### 数据库更新操作

更新操作用于更新数据表的的数据，以下实例将 mydatabase表中的 SEX 字段全部修改为 'M'，AGE 字段递增1

In [9]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

# SQL 更新语句
sql = "UPDATE EMPLOYEE2019070102 SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交到数据库执行
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()

# 关闭数据库连接
db.close()

#### 删除操作

删除操作用于删除数据表中的数据，以下实例演示了删除数据表 EMPLOYEE2019070102 中 AGE 大于 30 的所有数据

In [10]:
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标 
cursor = db.cursor()

# SQL 删除语句
sql = "DELETE FROM EMPLOYEE2019070102 WHERE AGE > '%d'" % (30)
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交修改
   db.commit()
except:
   # 发生错误时回滚
   db.rollback()

# 关闭连接
db.close()

#### 对已经存在的表添加新的字段

(鱼C论坛)

https://fishc.com.cn/thread-134470-1-1.html

In [ ]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# 在EMPLOYEE2019070102表中添加新的列address
sql = "ALTER TABLE EMPLOYEE2019070102 ADD COLUMN address VARCHAR(10) NOT NULL"

try:
    # 执行sql语句
    cursor.execute(sql)
    # 提交到数据库执行
    db.commit()
except :
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

#### 修改字段名

In [12]:
# coding:utf-8
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# 修改表EMPLOYEE2019070102的字段名称INCOME为Salary
sql = "ALTER TABLE EMPLOYEE2019070102 CHANGE COLUMN INCOME Salary VARCHAR(20) NOT NULL"

try:
    # 执行sql语句
    cursor.execute(sql)
    # 提交到数据库执行
    db.commit()
except :
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

#### 删除字段(列)

In [16]:
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# 把表EMPLOYEE2019070102中的字段address删除
sql = "ALTER TABLE EMPLOYEE2019070102 DROP COLUMN address"

try:
    # 执行sql语句
    cursor.execute(sql)
    # 提交到数据库执行
    db.commit()
except :
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

#### 统计数据表的数据量(条)

http://www.mysqltutorial.org/mysql-row-count/

In [23]:
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# 统计customers表内数据条数
sql = "SELECT COUNT(*) FROM customers"

try:
    # 执行sql语句
    results = cursor.execute(sql)
    # 提交到数据库执行
    db.commit()
    print("数据量:", list(cursor)[0][0])
except :
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

数据量: 42

#### 输出前N条数据

Python 3 进阶 —— 使用 PyMySQL 操作 MySQL
https://shockerli.net/post/python3-pymysql/

https://code-maven.com/slides/python-programming/select-some-data

https://blog.51cto.com/haowen/2129507

In [41]:
import pymysql

# 打开数据库连接
db = pymysql.connect(host='localhost', port=3306,
                     user='root', password='123456', db='mydatabase', charset='utf8')

# 使用cursor()方法获取操作游标
cursor = db.cursor()

# 统计customers表内数据条数
sql = "SELECT * FROM customers"

try:
    cursor.execute("SELECT * FROM customers")
    size = 5
    # while True:
    rows = cursor.fetchmany(size)  # 输出前5条数据
    # if not rows:
    #     break
    print(len(rows))
    for row in rows:
        print(row)
except :
    # 如果发生错误则回滚
    db.rollback()
# 关闭游标
cursor.close()
# 关闭数据库连接
db.close()

5
('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')